# Node
node_modules/

# Build
public/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*

# IDE
.vscode/
.idea/

# Test coverage
coverage/

# System
.DS_Store
Thumbs.db

# Misc
.pnp
.pnp.js

# Old
/tmp
/out-tsc
