repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: pnpm test
        language: system
        pass_filenames: false
